In [1]:
#import relevant libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import  LabelEncoder
import os

In [3]:
#import dataset

In [4]:
data1=pd.read_csv("loan prediction.csv")

In [5]:
#EDA

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [7]:
data1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [8]:
#Missing value handling

In [9]:
data1["Gender"].fillna(data1["Gender"].mode()[0],inplace=True)
data1["Married"].fillna(data1["Married"].mode()[0],inplace=True)
data1["Dependents"].fillna(data1["Dependents"].mode()[0],inplace=True)
data1["Self_Employed"].fillna(data1["Self_Employed"].mode()[0],inplace=True)
data1["Credit_History"].fillna(data1["Credit_History"].mode()[0],inplace=True)
data1["Loan_Amount_Term"].fillna(data1["Loan_Amount_Term"].mode()[0],inplace=True)
data1["LoanAmount"].fillna(data1["LoanAmount"].median(),inplace=True)

In [10]:
#copy data into new dataframe

In [11]:
data2=data1.iloc[:,1:-1]

In [12]:
#Dummification
data2=pd.get_dummies(data2,columns=["Gender", "Married","Dependents","Education","Self_Employed","Credit_History","Property_Area"],drop_first=True) 

#dropfirst is used for dummy trap

In [13]:
#Dependent and inpendent value declaration

In [14]:
X=data2.values

In [15]:
Y=data1.iloc[:,-1].values

In [16]:
#test train split

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=.2, random_state=10)

In [19]:
#Feature Transformation

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [22]:
#SVM create object

In [23]:
from sklearn.svm import SVC
svm = SVC(kernel='linear')

In [24]:
#fit the model

In [25]:
svm.fit(X_train,Y_train)

SVC(kernel='linear')

In [26]:
#Predict the model

In [27]:
y_pred = svm.predict(X_test)

In [28]:
#Accuracy and score

In [29]:
print('Training Accuracy : {:.3f}'.format(svm.score(X_train,Y_train)))
print('Testing Accuracy : {:.3f}'.format(svm.score(X_test,Y_test)))

Training Accuracy : 0.813
Testing Accuracy : 0.797

In [30]:
#Confusion matrix

In [31]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,y_pred, labels=["Y","N"])
print(cm)

[[86  1]
 [24 12]]

In [32]:
#pipeling

In [33]:
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
clf = make_pipeline(sc,svm)
accuracies = cross_val_score(clf,X,Y,cv=10)
print('{:.3f}'.format(accuracies.mean()))

0.810