In [1]:
#import libraries

In [2]:
import pandas as pd

In [3]:
#import dataset

In [4]:
data=pd.read_csv("loan prediction.csv")

In [5]:
#Explore the dataset

In [6]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [7]:
#missing value check

In [8]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
#Missing Value Treatment

In [10]:
data.isnull().sum()
data['Gender'].fillna(data["Gender"].mode()[0],inplace=True)
data['Married'].fillna(data["Married"].mode()[0],inplace=True)
data['Dependents'].fillna(data["Dependents"].mode()[0],inplace=True)
data['Self_Employed'].fillna(data["Self_Employed"].mode()[0],inplace=True)
data['Loan_Amount_Term'].fillna(data["Loan_Amount_Term"].mode()[0],inplace=True)
data['Credit_History'].fillna(data["Credit_History"].mode()[0],inplace=True)
data['LoanAmount'].fillna(data["LoanAmount"].median(),inplace=True)

In [11]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [12]:
#Excluding/dropping non value added columns or data
df=data.drop(data[["Loan_ID","Loan_Status","Loan_Amount_Term"]],axis=1)

In [13]:
#df=data.iloc[:,1:-1]
df=pd.get_dummies(df,columns=["Gender","Married","Dependents","Education","Self_Employed","Credit_History","Property_Area"])

In [14]:
#Declare the dependent and independent variable

In [15]:
X=df.values
y=data.iloc[:,-1].values

In [16]:
#Split the data into a model of 20% and 80%
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=42)

In [17]:
#Decision Tree library import

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

In [19]:
#crete a object of model

In [20]:
clf_gini=DecisionTreeClassifier(criterion="gini",random_state=10,max_depth=3,min_samples_leaf=5)

In [21]:
#fit the model

In [22]:
clf_gini.fit(X_train,y_train)
y_pred=clf_gini.predict(X_test)

In [23]:
#Accuracy of train and test

In [24]:
print("Training Accuracy:{:.3f}".format(clf_gini.score(X_train,y_train)))

print('Testing Accuracy:{:.3f}'.format(clf_gini.score(X_test,y_test)))

Training Accuracy:0.821
Testing Accuracy:0.789

In [25]:
#confusion matrix

In [26]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[18 25]
 [ 1 79]]

In [27]:
len2=len(df.columns)
features=list(df.columns[0:len2])

In [31]:
from sklearn import tree

In [39]:
from io import StringIO
dot_data= StringIO();
sklearn.tree.export_graphviz(clf_gini,out_file=dot_data, feature_names=features,impurity=False)
graph=pdtp.graph_from_dot_data(dot_data.getvalue())
graph.write_pdf('treedemo.pdf')

In [ ]:
#Export using graphviz

In [37]:
df1=pd.DataFrame(X_train,columns=df.columns)
df1['Loan_Status']=y_train
df1.to_csv('Train.csv')